<div class="header-inner">
	<div class="logo-section">
		<img src="../img/main-logo.png" alt="main logo photo">
		<div class="logo-title">LIME CALC</div>
	</div>
	<div class="menu-section">
		<a class="menu-link {{#if isAboutPage}}active{{/if}}" href="/#/">ABOUT</a>
		<a class="menu-link {{#if isCalculatorPage}}active{{/if}}" href="/#/calculator">CALCULATOR</a>
		<a class="menu-link {{#if isMyProductsPage}}active{{/if}}" href="/#/my-products">MY PRODUCTS</a>
	</div>
</div>