<div class="input-group" id="name-input-group">
	<input type="text" id="name-input" required/>
	<label for="name-input">Name your set</label>
</div>
<button class="done" id="done-button">Done</button>