<div class="about-wrapper">
	<div class="title-wrapper">
		<h1 class="main-title">LIME CALCULATOR</h1>
	</div>
	<img class="lime-top" src="../../../img/lime-top.png" alt="Lime photo"/>
	<img class="lime-bottom" src="../../../img/lime-bottom.png" alt="Green lime photo"/>
	<div class="greeting-text">
		<span class="welcome">Welcome to Lime Calculator</span>
		<p>In this application you can calculate the number of calories of a consumed meal,
			and also create and save a list of products for purchase in the store.</p>
		<span class="enjoy">Enjoy!!!</span>
	</div>
	<button class="start-using" href="/#/calculator">Start using</button>
</div>